<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日記詳細</title>

    <!--CSS読み込み-->
    <link rel="stylesheet" th:href="@{/css/diaryDetails.css}">
</head>

<body>
    <div style="width:100%">
        <div class="img_box" style="width:300px; margin-left:40px; margin-top:30px;">
            <img th:src="@{/img/logo.png}" style="width:200px;" />
        </div>
        <div class="img_box" style="width:300px; margin-left:40px; margin-top:30px;">
            <h1>日記詳細</h1>
        </div>

<!-- 体調   -->
            <div class="wrapper">
                <div class="container">
                    <div>
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>学年</th>
                        <th>クラス</th>
                        <th>出席番号</th>
                        <th>氏名</th>
                    </tr>

                    <tr>
                        <td th:text="${diary.grade}" rowspan="2"></td>
                        <td th:text="${diary.userClass}"></td>
                        <td th:text="${diary.studentNumber}"></td>
                        <td><span th:text="${diary.lastName}"></span> <span th:text="${diary.firstName}"></span></td>

                    </tr>
                    <tr style="height:40px;">
                        <th>本文</th>
                        <td colspan="6" th:text="${diary.diaryText}"></td>
                    </tr>

                </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>担任確認印</th>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    
    </div>
</body>

</html>