<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>日記詳細</title>

    <!--CSS読み込み-->
    <link rel="stylesheet" th:href="@{/css/diaryDetails.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
    <div style="width:100%">
        <div class="logo_box">
            <img class="logo_img" th:src="@{/img/logo.png}" />
        </div>
        <ul class="header_menu"></ul>
        <div class="img_box" style="width:300px; margin-left:40px; margin-top:30px;">
            <h1>日記詳細</h1>
        </div>

<!-- 体調   -->
            <div class="wrapper">
                <div class="container">
                    <div style="margin-right:100px;">
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>学年</th>
                        <th>クラス</th>
                        <th>出席番号</th>
                        <th>氏名</th>
                    </tr>

                    <tr>
                        <td th:text="${diary.grade}"></td>
                        <td th:text="${diary.userClass}"></td>
                        <td th:text="${diary.studentNumber}"></td>
                        <td><span th:text="${diary.lastName}"></span> <span th:text="${diary.firstName}"></span></td>

                    </tr>
                    <tr style="height:40px;">
                        <th>所属</th>
                        <td colspan="6" th:text="${diary.schoolName}"></td>
                    </tr>

                </table>
                    </div>
                    <div>
                        <table border="1" style="border-collapse:collapse;">
                            <tr>
                                <th>担任確認印</th>
                            </tr>
                            <tr>
                                <th:block th:if="${diary.checked == true}">
                                    <td>済</td>
                                </th:block>
                                <th:block th:if="${diary.checked == false}">
                                    <form action="/user/diaryCheck" method="get">
                                        <input type="hidden" name="userId" th:value="${diary.userId}" />
                                        <input type="hidden" name="diaryDate" th:value="${#dates.format(diary.diaryDate, 'YYYY-MM-dd')}" />
                                        <td><input type="submit" value="確認する"></td>
                                    </form>
                                </th:block>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="margin-top:50px">
                    <table border="1" style="border-collapse:collapse;">
                        <tr>
                            <th>日付</th>
                            <th>元気度</th>
                            <th>朝食</th>
                            <th>就寝時間</th>
                            <th>起床時間</th>
                        </tr>
                        <tr>
                            <td th:text="${#dates.format(diary.diaryDate, 'YYYY/MM/dd')}"></td>
                            <td th:text="${diary.feelings}"></td>
                            <td th:text="${diary.breakfast}"></td>
                            <td th:text="${diary.sleepTime}"></td>
                            <td th:text="${diary.wakeTime}"></td>
                        </tr>
                        <tr>
                            <th>本文</th>
                            <td colspan="4" th:text="${diary.diaryText}"></td>
                        </tr>
                    </table>
                </div>
            </div>
    
    </div>
</body>

</html>