.logo_box{
    width: 200px;
    margin-left: 30px;
    margin-top: 5px;
    }

.logo_img{
    width:140px;
    }

.header{
    background-color:blue;
    padding:10px 10px 10px;
    margin-bottom:20px;
}

.header_content{
    display:flex;
    justify-content:space-between;

}

.header_menu{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px
}

.header_menu li{
    border: 2px solid;
    padding:5px;
    margin-right:8px;
    border-color:green;
    background-color:white;
    list-style: none;
}

.header_menu li a{
    text-decoration:none;
    color:black;
}

.wrapper{
    margin-top:40px;
    width:70%;
    margin:0 auto;
}

.container{
    width:100%;
    margin:0 auto;
    display:flex; 
}

.radio-box{
    text-align:center;
    margin-right:60px;
}

th{
    text-align:center;
    }

td{
    text-align:center;
}