.wrapper{
    margin-top:40px;
    width:70%;
    margin:0 auto;
}

.search_container{
    width:84%;
    display:flex;
    margin-bottom:10px;
}

.radio-box{
    text-align:center;
    margin-right:60px;
}

th{
    text-align:center;
    }

td{
    text-align:center;
}

input[type="text"]{
    width:30%;

}